{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h3>Currently Following</h3>
        <hr>
        <div>
            {% for post in page_obj %}
                <div class="post" id="{{ post.id }}">
                    <div class="author">
                        <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>
                    </div>
                    <div class="date">
                        {{ post.pub_date }}
                    </div>
                    <div class="content">
                        {{ post.post }}
                    </div>
                    <div class="like-count">
                        0 Like
                    </div>
                    <div class="std-btns">
                        <button class="like-btn" onClick="updateLike({{ post.id }})">Like</button>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}