{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h3> Create Your New Post </h3>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}